<div layout="column">
  <md-toolbar layout="row">
    <md-button ng-click="showFS = !showFS" aria-label="Show FS Stats">
      <md-icon ng-show="showFS" md-svg-icon="menu-open"></md-icon>
      <md-icon ng-show="!showFS" md-svg-icon="menu-closed"></md-icon>
    </md-button>
    <span><h2 class="md-title">Filesystem statistics</h2></span>
  </md-toolbar>
  <div ng-show="showFS" layout="column" class="md-margin">
    <div layout="row">
      <b flex="25">File count:</b>
      <div>{{humanizeNumber(fsattr.totalFiles - fsattr.freeFiles)}}</div>
    </div>
    <div layout="row">
      <b flex="25">Space used:</b>
      <div>{{humanizeNumber(fsattr.totalSpace - fsattr.freeSpace)}}</div>
    </div>
    <div layout="row">
      <b flex="25">Free space:</b>
      <div>{{humanizeNumber(fsattr.freeSpace)}}</div>
    </div>
    <div layout="row">
      <b flex="25">Repair queue:</b>
      <div>{{fsattr.repairQueueSize}}</div>
    </div>
  </div>
  <md-toolbar ng-show="!hideDevs" layout="row">
    <md-button ng-click="showDevs = !showDevs" aria-label="Show Devices">
      <md-icon ng-show="showDevs" md-svg-icon="menu-open"></md-icon>
      <md-icon ng-show="!showDevs" md-svg-icon="menu-closed"></md-icon>
    </md-button>
    <span><h2 class="md-title">Devices</h2></span>
  </md-toolbar>
  <div ng-show="showDevs && !hideDevs" layout="column" class="md-margin">
    <div layout="row">
      <div flex="25"><h2 class="md-title">ID</h2></div>
      <div flex="25"><h2 class="md-title">Data</h2></div>
      <div flex="25"><h2 class="md-title">Admin</h2></div>
      <div flex="25"><h2 class="md-title">State</h2></div>
    </div>
    <div layout="row" ng-repeat="dev in devices">
      <div flex="25">{{dev.id}}</div>
      <div flex="25">
	<div ng-repeat="addr in formatAddresses(dev.addresses)">
	  {{addr}}
	</div>
      </div>
      <div flex="25">
	<a ng-repeat="addr in formatAddresses(dev.adminAddresses)",
	   href="http://{{addr}}"
	   target="_blank">
	  {{addr}}
	</a>
      </div>
      <div flex="25">
	<span ng-style="{color:dev.color}">{{dev.state}}</span>
      </div>
    </div>
  </div>
  <md-toolbar ng-show="!hideReplicas" layout="row">
    <md-button ng-click="showReplicas = !showReplicas"
	       aria-label="Show Replicas">
      <md-icon ng-show="showReplicas" md-svg-icon="menu-open"></md-icon>
      <md-icon ng-show="!showReplicas" md-svg-icon="menu-closed"></md-icon>
    </md-button>
    <span><h2 class="md-title">Replicas</h2></span>
  </md-toolbar>
  <div ng-show="showReplicas && !hideReplicas" layout="column"
       class="md-margin">
    <div layout="row">
      <div flex="25"><h2 class="md-title">Link</h2></div>
      <div flex="25"><h2 class="md-title">Type</h2></div>
      <div flex="25"></div>
      <div flex="25"><h2 class="md-title">State</h2></div>
    </div>
    <div layout="row" ng-repeat="rep in replicas">
      <div flex="25">
	<a ng-repeat="addr in formatAddresses(rep.addresses)",
	   href="http://{{addr}}"
	   target="_blank">
	  {{addr}}
	</a>
      </div>
      <div flex="25">
	<div ng-if="rep.isMaster">Master</div>
	<div ng-if="!rep.isMaster">Replica</div>
      </div>
      <div flex="25"></div>
      <div flex="25">
	<span ng-style="{color:rep.color}">{{rep.state}}</span>
      </div>
    </div>
  </div>
</div>
